/**
 * @author Hakim El Hattab
 */


/*********************************************
 * GLOBAL STYLES
 *********************************************/

html, body {
	width: 120%;
	height: 100%;
	overflow: hidden;
	
	background: #000;
	color: #000;
	
	font-family: 'Molengo', Arial, Helvetica, sans-serif;
}


/*********************************************
 * EXPERIMENTS HEADER
 *********************************************/

a {
	color: rgb(0,0,0);
}

header {
	padding: 10px 0;
	z-index: 999;
	
	height: 20px;
	width: 100%;
	
	background: rgba(0,0,0,0);
}

header>div {
	float: right;
	margin-right: 10px;
}

header div.facebook-button {
	top: 1px;
}

header a {
	float: left;
	font-size: 14px;
	color: #eee;
	margin-left: 10px;
}

/*********************************************
 * CONTENTS
 *********************************************/

#fof {
	margin-top: 40px;
	text-align: center;
}





